@charset "UTF-8";

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 0.75rem;
  max-width: 100%;
}
.wrapper {
  text-align: center;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
ul {
  list-style: none;
}
p {
  font-family:fantasy;
}
a {
  text-decoration: none;
  color: #707070;
}
a:hover {
  transition: all 1s;
  opacity: 0.8;
}
img {
  max-width: 100%;
}
.box {
  position: relative;
  margin-bottom: 100px;
  padding-top: 100px;
}
.box img {
  object-fit: cover;
  opacity: 0.2;
}
.title-box {
  position: absolute;
  right: 0;
  left: 0;
  top: 55%;
}
.box .main-title,
#recommend-item .main-title {
  font-family: serif;
  font-size: 1.5rem;
  display: inline-flex;
  border-bottom: solid 1px #707070;
  justify-content: center;
}
.ja-title {
  font-family: serif;
  padding-top: 25px;
  font-size: 1rem;
  opacity: 0.6;
}
/*  header  */
#header {
  background-color: white;
  padding: 10px 0;
  display: inline-block;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #707070;
  left: 0;
  right: 0;
  z-index: 10
}
#header .main-logo {
  margin-left: 30px;
}
#header .main-logo img{
  max-width: 1920px;
  width: 150px;
  margin: 0 auto;
}
#header .navi ul {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
#header .navi a {
  padding: 10px;
  margin-right: 15px;
}
#header .navi a:hover {
  background-color: #707070;
  color: white;
}
#instagram-image {
  width: 18px;
  border-bottom: none;
  text-align: center;
}
#shirt {
  background-image: url(./images/background-image01.jpg);
  background-position-y: 350px;
}

#long-shirt {
  background-image: url(./images/background-image02.jpg);
  background-position-y: 350px;
}

#accessories {
  background-image: url(./images/background-image01.jpg);
  background-position-y: 350px;
}

#kids {
  background-image: url(./images/background-image02.jpg);
  background-position-y: 350px;
}



#shirt .shirt-item,
#long-shirt .shirt-item,
#accessories .shirt-item,
#kids .shirt-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 80px;
}

.shirt-image {
  width: 300px;
  padding: 35px;
}
.shirt-image:hover {
  transition: all 1s;
  position: relative;
  top: -1px;
  background-color: #cccccc
}

/*  footer  */
#footer {
  text-align: center;
  background-color: black;
}
#footer img {
  height: 100px;
}
#footer p {
  font-size: 1px;
  color: aliceblue;
}
/*  ps  */
@media screen and (max-width: 900px) {
  
  .navi {
    position: fixed;
    top: 0;
    left: -400px;
    width: 150px;
    color: #fff;
    padding: 36px 0;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
  }
  .navi ul {
    display: flex;
    flex-direction: column;
  }
  .navi a {
    color: #fff;
  }

  .navi li {
    border-bottom: solid 1px #fff;
    margin-bottom: 20px;
  }

  .open .navi {
    left: 0;
    opacity: 1;
  }

  .toggle_btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
    margin-right: 10px;
  }

  .toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }

  .toggle_btn span:nth-child(1) {
    top: 10px;
  }

  .toggle_btn span:nth-child(2) {
    bottom: 10px;
  }

  .open .toggle_btn span {
    background-color: #fff;
  }

  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
  }
  
  .open .toggle_btn span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
  }
  #mask {
    display: none;
    transition: all 0.5s;
  }

  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .shirt-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } 
}
